h1{
	/* font-family: 'Lobster', cursive; */
}

#checkboxes {
	overflow-x: hidden;
	overflow-y: scroll;
	height:300px;
	width:100%;
	-webkit-overflow-scrolling: touch;
	/* font-family: 'Roboto', sans-serif; */
}

input[type=checkbox] {
  margin-right: 5px;
}

#problems {
	display:none;
}

#selector {
	display:inline;
}

#mrticsnumbersensetool {
	display:none;
}

.wsite-button {
	margin:5px;
}

.wsite-form-input {
	margin:5px;
}

.margin5{
	margin:5px;
}

#correctness{
	margin:5px;
}

#stats p {
	line-height: 0.3em;
}